footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
}

footer .Logo {
    width: 90px;
    height: 59px;
    margin-right: 10px; 
}

footer p {
    margin: 0;
}
