footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background-color: #6d8510;
    padding: 20px;
    box-sizing: border-box;
}

footer .entete {
    margin-right: 10px; 
}

footer p {
    margin: 0;
}
