nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #5a7008;
    box-shadow: 0 0 10px #ccc;
}

nav .entete {
    text-decoration: none;
    font-size: 25px;
    color: #000;
}