.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh; 
    padding-bottom: 50px;
    background-color: #93ad18;
  }
  .lien {
    display: block;
    font-size: 15px;
    width: fit-content;
    margin: 20px auto 0; 
    text-align: center; 
    text-decoration: none; 
    color: blue; 
  }