.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh; 
    padding-bottom: 50px;
    background: 
    linear-gradient(rgba(147, 173, 24, 0.8), rgba(147, 173, 24, 0.8)), 
    url('../../assets/image/logo.png');

  }
  .titre{
    font-size: 45px;
    margin: 15px;
  }
  .lien {
    display: block;
    font-size: 25px;
    width: fit-content;
    margin: 20px auto 0; 
    text-align: center; 
    text-decoration: none; 
    color: #000000;
    font-weight: bold;
  }
